<!-- logo image --> 
{% if site.avatar -%}
  <div class="sidebar-section">
    {%- if site.avatar contains "://" -%}
      {%- assign avatar = site.avatar -%}
    {%- else -%}
      {%- assign avatar = site.avatar | relative_url -%}
    {%- endif -%}
    <img src="{{ avatar }}" class="author-avatar u-photo align-center" alt="{{ site.author }}">
  </div>
{%- endif %}

<!-- contact information --> 
<div class="sidebar-section">
  <ul class="contact-list">
    {% if site.author -%}
      <li>
        <i class="sidebar-icon fas fa-user"></i>
        <span class="contact-info p-name">{{ site.author | escape }}</span>
      </li>
    {%- endif %}
    {% if site.email -%}
      <li>
        <i class="sidebar-icon fas fa-envelope"></i>
        <a class="contact-info u-email" href="mailto:{{ site.email }}">xuanbaic@andrew.cm<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;u.edu</a>
      </li>
    {%- endif %}
    {% if site.location -%}
      <li>
        <i class="sidebar-icon fas fa-home"></i>
        <a class="contact-info u-location" href="https://www.google.com/maps/search/{{ site.location }}">{{ site.location }}</a>
      </li>
    {%- endif %}
  </ul>
</div>

<div class="sidebar-section">
  <ul class="contact-list">
    {% if site.subscribe != false -%}
    <li>
        <!--<a href="https://github.com/Xuanbai-Chen">-->
        <i class="sidebar-icon fas fa-search"></i><span>Current Position</span>
        </a>
    </li>
    {%- endif %}
    <li>
      <i class="sidebar-icon fas fa-file"></i>
      <a href="https://www.ri.cmu.edu/education/academic-programs/master-of-science-computer-vision/">
      <span>Incoming 2022 Spring<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CMU MSCV student</span>
      </a>
    </li>
    <li>
      <i class="sidebar-icon fas fa-file"></i>
      <a href="https://www.sensetime.com/sea-en">
      <span>CV Research Intern<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;at SenseTime</span>
      </a>
    </li>
    <li>
      <i class="sidebar-icon fas fa-file"></i>
      <a href="https://www.nankai.edu.cn/">
      <span>RA at Nankai University</span>
      </a>
    </li>
  </ul>
</div>

{% if site.data.social -%}
  <div class="sidebar-section">
    <ul class="social-icons">
      {% for social in site.data.social -%}
        <li>
          <a class="social-icon" href="{{ social.url }}"><i class="{{ social.icon | default: 'fas fa-link' }} fa-2x" title="{{ social.title }}"></i></a>
        </li>
      {%- endfor %}
    </ul>
  </div>
{%- endif %}

<!--twitter-sign, facebook-sign, linkedin-sign, github-sign -->
<!--twitter, facebook, linkedin, github -->